#config {
    width: 400;
}

#control {
    width: 400;
}

#chart {
    width:  860px; 
    height: 500px; 
    padding-right: 10px;
    border: 1px solid black;
}

#dump {
    width:  860px; 
    height: 200px; 
    padding: 0.5em;
    margin-top: 0.5em;
    clear: right;
    overflow: scroll;
    font-family: monospace;
    background-color:  #d6dbdf ;
}

div {
    float:left;
    margin-left: 0.5em;
}

input[type=button] {
    font-size: 16px;
    background-color: lightpink;
}

table {
    border-collapse: collapse;
}

table,th {
    border: 1px solid black;
}
th {
    background-color: lightgray;
    color: black;
}
td {
    border: 0px;
}
td,th {
    padding: 6px;
    text-align: left;
}
td:first-child {
    text-align: right;
}

tr.time {
    background-color: paleturquoise;
}
tr.trans {
    background-color: lightblue;
}
tr.grow {
    background-color: lightgreen;
}

/*
.hasTooltip span {
    display: none;
    width: 400px;
    text-align: justify;
    padding: 6px;
}
.hasTooltip:hover span {
    display: block;
    position: absolute;
    left: 105%;
    z-index: 99;
    background-color: orange;
    border: 0px solid black;
}
*/

.hasTooltip {
    position: relative;
    display: inline-block;
}

.hasTooltip .tooltipText {
    visibility: hidden;
    width: 400px;
    text-align: justify;
    padding: 6px;
    background-color: orange;
    border-radius: 6px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.hasTooltip:hover .tooltipText {
    visibility: visible;
}
